<nav>

    <a href="#">
        
        <img src="/assets/logos/White on Transparent.PNG"> <!-- logo -->
        
    </a>

    <div class="menu-dropdown" onclick="">

        <span>
            
            menu
            
        </span>
        
        <div class="menu">
        
            <a href="#">

                home
                
            </a>
            <a href="#">
                
                posts
                
            </a>
            <a href="#">
                
                podcasts
                
            </a>
            <a href="#">
                
                contact
                
            </a>

            <!-- social icons -->

            {%- include social.html -%}

        </div>

    </div>

</nav>