<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">

    <a class="navbar-brand" href="/">

        <img src="/assets/logos/White on Transparent.PNG" width="100">

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
  
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item"> 
                <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="font-weight:700;"{% endif %}>{{ item.name }}</a>
            </li>
            {% endfor %}
            <li>
                {%- include social.html -%}
            </li>
        </div>

    </div>

</nav>