html, body {

    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Gothic A1', sans-serif;

}

section, nav, footer {

    padding: 1% 10%!important;

}

.bg-primary {

    background-color: #121212!important;

}

.text-primary {

    color: #121212!important;

}

.bg-secondary {

    background-color: #DFDFDF!important;

}

.text-secondary {

    color: #DFDFDF!important;

}

nav {

    text-transform: uppercase;

}

.nav-link, .social {

    color: white!important;

}

.social span {

    background-color: initial;
    display: inline-block;
    border: 2px solid white;
    color: white;
    font-size: 1.6em;
    padding: 5px;
    width: 40px;
    border-radius: 100%;
    transition: all 100ms;

}

/*
.fa-twitter {

    border: 2px solid #00acee;
    color: #00acee;

}
*/

.fa-twitter:hover {

    background-color: #00acee;
    transition: background-color 100ms linear;

    /*
    color: white;
    transition: color 100ms linear;
    */

}

/*
.fa-instagram {

    border: 2px solid purple;
    color: purple;

}
*/

.fa-instagram:hover {

    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    transition: background 100ms linear;

    /*
    color: white;
    transition: color 100ms linear;
    */

}

/*
.fa-youtube {

    border: 2px solid #c4302b;
    color: #c4302b;

}
*/

.fa-youtube:hover {

    background-color: #c4302b;
    transition: background-color 100ms linear;

    /*
    color: white;
    transition: color 100ms linear;
    */

}

/*
.fa-facebook {

    border: 2px solid #3b5998;
    color: #3b5998;

}
*/

.fa-facebook:hover {

    background-color: #3b5998;
    transition: background-color 100ms linear;

    /*
    color: white;
    transition: color 100ms linear;
    */

}

.btn {

    text-transform: uppercase;

}