---
layout: default
---

<section class="row mt-5">

    <div class="col-sm-8">

        {% for post in site.posts limit: 1 %}

            {%- include post.html -%}

        {% endfor %}

        <div class="row home-post-row">
            
            {% for post in site.posts limit: 2 offset: 1 %}

                <div class="col-sm-6 home-post">
                    
                    {%- include post.html -%}

                </div>

            {% endfor %}

        </div>

        <div class="row home-post-row">

            {% for post in site.posts limit: 2 offset: 3 %}

                <div class="col-sm-6 home-post">

                    {%- include post.html -%}

                </div>

            {% endfor %}

        </div>

        <h2>Top Stories</h2>

        <div class="row home-post-row home-post-row-small">

            {% for post in site.categories.top-post limit: 3 %}
    
                <div class="col-sm-4 home-post">
                
                    {%- include post.html -%}

                </div>

            {% endfor %}

        </div>

        <a href="/posts" class="btn btn-dark shadow text-light">see all posts</a>

        <h2 class="mt-5">Top Episodes</h2>

        <div class="row home-post-row home-post-row-small">

            {% for post in site.categories.top-podcast limit: 3 %}
    
                <div class="col-sm-4 home-post">
                
                    {%- include post.html -%}

                </div>

            {% endfor %}

        </div>

        <a href="/podcasts" class="btn btn-dark shadow text-light mb-5">see all episodes</a>

    </div>

    <div class="col-sm-4">
    
        {%- include twitter.html -%}
    
    </div>

</section>

<section>
    
    {{ content }}

</section>